/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove underline from links */
a {
  text-decoration: none;
}

/* Remove underline from links on hover */
a:hover {
  text-decoration: none;
}

/* Remove underline from links when active */
a:active {
  text-decoration: none;
}

/* Remove underline from visited links */
a:visited {
  text-decoration: none;
}

/* Custom scrollbar width */
*::-webkit-scrollbar {
  width: 5px;
}

/* Track for custom scrollbar */
*::-webkit-scrollbar-track {
  background: hsl(233, 14%, 35%);
}

/* Handle for custom scrollbar */
*::-webkit-scrollbar-thumb {
  background: hsl(235, 24%, 19%);
}

/* Handle on hover for custom scrollbar */
*::-webkit-scrollbar-thumb:hover {
  background: hsl(233, 14%, 35%);
}

/* Body styles */
body {
  background-color: hsla(43, 74%, 45%, 0.4);
  display: flex;
  justify-content: center;
}

/* Navbar styles */
#navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  box-shadow: 2px 2px 30px -10px hsl(235, 56%, 55%);
  background-color: rgba(57, 95, 170, 0.977);
  z-index: 1; /* Ensure it remains on top */
  justify-content: space-between;
}

/* Logo styles */
.top-logo {
  width: 120px;
  height: 40px;
  display: flex;
  align-items: flex-start;
  font-size: 1.2rem;
  justify-content: center;
  color: hsl(234, 39%, 85%);
  text-shadow: 2px -1px 6px hsl(234, 39%, 85%);
  flex-direction: column;
}

/* Horizontal line under logo */
.top-logo hr {
  margin-top: 2px;
  width: 120px;
  border: 1px hsl(233, 14%, 35%) solid;
}

/* Side drawer button styles */
.side-drawer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

/* Total counter styles */
#total-counter {
  color: rgb(238, 231, 231);
  position: relative;
  left: -16px;
  top: -10px;
  width: 16px;
  height: 16px;
  border-radius: 20%;
  font-size: 0.8rem;
  text-align: center;
}

/* Hamburger menu icon styles */
.fa-bars {
  width: 50px;
  scale: 1.5;
  color: hsl(236, 6%, 45%);
}

/* Toggle sidebar button styles */
#toggle-sidebar {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 43px;
  cursor: pointer;
  border-radius: 5px;
}

/* Toggle sidebar button hover styles */
#toggle-sidebar:hover {
  scale: 1.2;
  transition: all ease-in-out 0.25s;
}

/* Main content container styles */
#main {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100vh;
}

/* Flex box styles */
#flex-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* Sidebar styles */
#sidebar {
  display: flex;
  flex: 0.2;
  height: 100vh;
  background-color: hsl(235, 24%, 19%);
  color: white;
  flex-direction: column;
  align-items: center;
  display: none;
  min-width: 300px;
  max-width: 500px;
}

/* Show sidebar styles */
#sidebar.show {
  display: flex;
  transition: all ease-in-out 0.25s;
}

/* Shrink flex box styles */
#flex-box.shrink {
  flex: 0.8;
  transition: all ease-in-out 0.25s;
}

/* Gap at the top of the sidebar */
.top_gap {
  height: 60px;
  width: 100%;
}

/* Small text in sidebar */
#sidebar .small {
  font-size: 1rem;
  color: rgb(158, 153, 153);
}

/* Horizontal line in sidebar */
#sidebar hr {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid hsl(233, 14%, 35%);
}

/* Favorite list container styles */
#fav {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  align-items: center;
}

/* Favorite item styles */
.fav-item {
  width: 80%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: hsl(234, 39%, 85%);
  color: hsl(235, 24%, 19%);
  font-size: 1.2rem;
  border-radius: 10%;
}

/* Favorite item hover styles */
.fav-item:hover {
  cursor: pointer;
}

/* Favorite item photo styles */
.fav-item-photo {
  width: 100%;
}

/* Favorite item photo image styles */
.fav-item-photo img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10%;
}

/* Favorite item details container styles */
.fav-item-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 40px;
  align-items: center;
}

/* Favorite like button styles */
#fav-like-button {
  border: 1px solid hsl(233, 14%, 35%);
  border-radius: 10%;
  padding: 2px;
  height: 30px;
  box-shadow: 1px 1px 10px -2px rgb(146, 99, 99);
}

/* Favorite like button hover styles */
#fav-like-button:hover {
  cursor: pointer;
  border-color: brown;
}

/* Empty favorite item styles */
.fav-item.nothing {
  background-color: transparent;
  color: rgb(129, 128, 126);
  font-size: 0.8rem;
  text-decoration: none;
}

/* Background image styles */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 350px;
  z-index: -1;
}

/* Background image image styles */
.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(12px);
  -webkit-filter: blur(12px);
}

/* Container styles */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hide header styles */
.header.hide {
  display: none;
}

/* Remove top margin from container styles */
.container.remove-top-margin {
  margin-top: 40px;
}

/* Title styles */
.title {
  color: rgb(247, 247, 247);
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  text-shadow: 3px -2px 5px hsl(234, 84%, 46%);
}

/* Search bar styles */
#search-bar {
  width: 60%;
  background-color: hsla(233, 11%, 84%, 0.662);
  height: 60px;
  margin-top: 50px;
  border-radius: 20px;
  display: flex;
}

/* Fixed search bar styles */
#search-bar.fixed {
  top: 0;
  position: fixed;
  margin-top: 1px;
  z-index: 2;
  width: 40%;
  height: 40px;
  background-color: transparent;
  transition: all ease-in-out 0.25s;
  border-radius: 15px;
}

/* Search icon styles */
.icon {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Search icon search styles */
.icon .fa-search {
  scale: 1.3;
  color: hsl(233, 14%, 35%);
}

/* New search input styles */
.new-search-input {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

/* New search input form styles */
.new-search-input form {
  flex-grow: 1;
}

/* New search input text styles */
.new-search-input input {
  width: 100%;
  padding: 10px 0px;
  background-color: transparent;
  border: none;
  outline: none;
  color: hsl(234, 39%, 85%);
  font-size: 18px;
}

/* New search input placeholder styles */
.new-search-input input::placeholder {
  color: hsl(233, 14%, 35%);
}

/* Cards holder styles */
#cards-holder {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 75px;
  padding: 0 10px;
}

/* Card styles */
.card {
  margin: 5px;
  height: 320px;
  min-width: 220px;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  background-color: hsl(234, 39%, 85%);
  align-items: center;
  border-radius: 20px;
  justify-content: flex-start;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

/* Remove top margin from cards holder styles */
#cards-holder.remove-top-margin {
  margin-top: 10px;
}

/* Card top styles */
.card-top {
  display: flex;
  flex-direction: column;
  flex: 0.85;
  border-radius: 20%;
}

/* Movie poster styles */
.movie-poster {
  width: 220px;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Movie poster image styles */
.movie-poster img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 180px;
  width: 100%;
  object-fit: cover;
}

/* Movie name styles */
.movie-name {
  margin-top: 5px;
  width: 100%;
  margin-left: 10px;
  color: hsl(234, 54%, 30%);
  font-size: 1.3rem;
  font-weight: bolder;
}

/* Movie year styles */
.movie-year {
  color: hsl(234, 54%, 30%);
  margin-top: 5px;
  margin-left: 10px;
  width: 95%;
  height: 50px;
}

/* Button styles */
.button {
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 10px;
  text-decoration: underline;
}

/* Card bottom styles */
.card-bottom {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex: 0.15;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  opacity: 1;
}

/* Card hover styles */
.card:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.45s;
  cursor: pointer;
}

/* Card hover card bottom styles */
.card:hover .card-bottom {
  transition: all 0.25s;
  opacity: 1;
}

/* Like styles */
.like {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
  color: hsl(234, 54%, 30%);
}

/* Star icon styles */
.like .fa-star {
  margin-left: 10px;
  scale: 0.9;
  color: gray;
}

/* Active star icon styles */
.fa-star.active {
  color: rgb(236, 233, 13);
}

/* Item details styles */
.item-details {
  min-height: 300px;
  width: 100%;
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: hsl(235, 24%, 19%);
  color: white;
  border: 1x solid red;
}

/* Item details left styles */
.item-details-left {
}

/* Item details left image styles */
.item-details-left img {
  height: 250px;
  max-width: 250px;
  object-fit: cover;
  border-radius: 20px;
}

/* Item details right styles */
.item-details-right {
  margin-left: 30px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow-y: hidden;
}

/* Card name styles */
.card-name {
  margin-top: 30px;
  height: 30px;
  font-size: 1.5rem;
  color: hsl(234, 39%, 85%);
  text-shadow: 3px -2px 5px hsl(234, 84%, 46%);
}

/* Card name hover styles */
.card-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Item text styles */
.item-text a {
  text-decoration: none;
  color: hsl(234, 39%, 85%);
  padding-left: 10px;
  font-size: 1.2rem;
}

/* Item text styles */
.item-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: hsl(235, 23%, 79%);
}

/* Item text link hover styles */
.item-text a:hover {
  text-decoration: underline;
  color: hsl(0, 0%, 96%);
}

/* Movie plot styles */
.movie-plot {
  overflow: hidden;
  max-height: 90px;
}

/* Movie plot item text styles */
.movie-plot > span.item-text {
  text-overflow: ellipsis;
}

/* Movie rating styles */
.movie-rating {
  display: flex;
  min-height: 40px;
  align-items: center;
}

/* Movie rating item text styles */
.movie-rating .item-text {
  margin-left: 10px;
}

/* Like button styles */
#like-button {
  height: 40px;
  align-items: center;
  display: flex;
  margin-left: 40px;
  border-left: 2px solid hsl(233, 14%, 35%);
  padding-left: 30px;
  font-size: 1.2rem;
  color: hsl(234, 39%, 85%);
}

/* Like button hover styles */
#like-button:hover {
  text-decoration: underline;
  cursor: pointer;
  color: hsl(0, 0%, 96%);
}

/* Active solid star icon styles */
.fa-solid.fa-star.active {
  color: yellow;
}
